:root{

color-scheme: light; 
--plx-shadow-base: box-shadow: 0px 1px 2px 0px #33454E0F,box-shadow: 0px 1px 3px 0px #33454E1A;
--plx-shadow-medium: box-shadow: 0px 4px 6px -2px #33454E0D,box-shadow: 0px 10px 15px -3px #33454E1A;
--plx-shadow-large: box-shadow: 0px 10px 40px 0px #33454E33;
}
