:root{

color-scheme: light; 
--plx-base-1: #ffffff;
--plx-base-2: #f2f3f4;
--plx-base-3: #e5e7e8;
--plx-base-4: #ccd1d3;
--plx-base-5: #99a2a7;
--plx-base-6: #66747a;
--plx-base-7: #33454e;
--plx-base-8: #192e38;
--plx-base-9: #001722;
--plx-playrix: #28d223;
--plx-playrix-hover: #24bd20;
--plx-playrix-active: #20a81c;
--plx-playrix-bg: #EAFBE9;
--plx-playrix-bg-hover: #DFF8DE;
--plx-playrix-bg-active: #BCF1BB;
--plx-blue: #5172FC;
--plx-blue-hover: #4967E3;
--plx-blue-active: #415BCA;
--plx-blue-bg: #EEF1FF;
--plx-blue-bg-hover: #E5EAFF;
--plx-blue-bg-active: #C9D3FE;
--plx-green: #00AA6D;
--plx-green-hover: #009660;
--plx-green-active: #008253;
--plx-green-bg: #E0F5ED;
--plx-green-bg-hover: #CCEADF;
--plx-green-bg-active: #B3D9CB;
--plx-secondary: #f2f4f7;
--plx-secondary-hover: #ebeef2;
--plx-secondary-active: #dde3eb;
--plx-accent: #ed4962;
--plx-accent-hover: #d54258;
--plx-accent-active: #be3a4e;
--plx-text-1: #33454e;
--plx-text-2: #66747a;
--plx-text-3: #99a2a7;
--plx-link: #5172fc;
--plx-link-hover: #4967e3;
--plx-positive: #1e9e1a;
--plx-positive-hover: #187e15;
--plx-negative: #b2374a;
--plx-negative-hover: #8e2c3b;
--plx-success-fill: #28d223;
--plx-success-bg: #eafbe9;
--plx-success-bg-hover: #dff8de;
--plx-error-fill: #ed4962;
--plx-error-bg: #fdedef;
--plx-error-bg-hover: #fce4e7;
--plx-info-fill: #5172fc;
--plx-info-bg: #eef1ff;
--plx-info-bg-hover: #e5eaff;
--plx-warning-fill: #f5c60a;
--plx-warning-bg: #fef9e7;
--plx-warning-bg-hover: #fef6da;
--plx-neutral-fill: #79818c;
--plx-neutral-bg: #79818c1f;
--plx-neutral-bg-hover: #79818c3d;
}
