:root{
--plx-opacity-0: 0%;
--plx-opacity-10: 10%;
--plx-opacity-20: 20%;
--plx-opacity-30: 30%;
--plx-opacity-40: 40%;
--plx-opacity-50: 50%;
--plx-opacity-60: 60%;
--plx-opacity-70: 70%;
--plx-opacity-80: 80%;
--plx-opacity-90: 90%;
--plx-opacity-100: 100%;
}
