:root{

color-scheme: light; 
--plx-shadow-base: 0px 1px 2px 0px #33454E0F,0px 1px 3px 0px #33454E1A;
--plx-shadow-medium: 0px 4px 6px -2px #33454E0D,0px 10px 15px -3px #33454E1A;
--plx-shadow-large: 0px 10px 40px 0px #33454E33;
}
