:root{
--plx-space-xs: 2px;
--plx-space-1: 4px;
--plx-space-2: 8px;
--plx-space-3: 12px;
--plx-space-4: 16px;
--plx-space-5: 20px;
--plx-space-6: 24px;
--plx-space-8: 32px;
--plx-space-10: 40px;
--plx-space-12: 48px;
--plx-space-14: 56px;
--plx-space-16: 64px;
--plx-space-20: 80px;
--plx-space-30: 120px;
}
