[color-scheme='dark']{

color-scheme: dark; 
--plx-base-1: #001722;
--plx-base-2: #192e38;
--plx-base-3: #33454e;
--plx-base-4: #66747a;
--plx-base-5: #99a2a7;
--plx-base-6: #ccd1d3;
--plx-base-7: #e5e7e8;
--plx-base-8: #f2f3f4;
--plx-base-9: #ffffff;
--plx-playrix: #43BE3F;
--plx-playrix-hover: #39A736;
--plx-playrix-active: #339430;
--plx-playrix-bg: #1D3E3C;
--plx-playrix-bg-hover: #20453C;
--plx-playrix-bg-active: #275445;
--plx-blue: #5573F2;
--plx-blue-hover: #5170F0;
--plx-blue-active: #4566F2;
--plx-blue-bg: #0D2746;
--plx-blue-bg-hover: #22407C;
--plx-blue-bg-active: #274A90;
--plx-green: #09B778;
--plx-green-hover: #07A66C;
--plx-green-active: #008857;
--plx-green-bg: #1D4A3A;
--plx-green-bg-hover: #215442;
--plx-green-bg-active: #27634E;
--plx-secondary: #33454e;
--plx-secondary-hover: #6488b452;
--plx-secondary-active: #6488b466;
--plx-accent: #d95d70;
--plx-accent-hover: #de7383;
--plx-accent-active: #e28392;
--plx-text-1: #ffffff;
--plx-text-2: #ccd1d3;
--plx-text-3: #99a2a7;
--plx-link: #627deb;
--plx-link-hover: #6e83d8;
--plx-positive: #2b9028;
--plx-positive-hover: #2e972b;
--plx-negative: #a74252;
--plx-negative-hover: #b34758;
--plx-success-fill: #40b93c;
--plx-success-bg: #375e36;
--plx-success-bg-hover: #386937;
--plx-error-fill: #ff8c67;
--plx-error-bg: #f4572552;
--plx-error-bg-hover: #f4572566;
--plx-info-fill: #70b6f6;
--plx-info-bg: #70b6f652;
--plx-info-bg-hover: #70b6f666;
--plx-warning-fill: #ffc700;
--plx-warning-bg: #ffc70052;
--plx-warning-bg-hover: #ffc70066;
--plx-neutral-fill: #959ba4;
--plx-neutral-bg: #959ba452;
--plx-neutral-bg-hover: #959ba466;
}
