:where(html) {
  --base-1-light: #FFFFFF;
        --base-1-dark: #001722;
  --base-2: #F2F3F4;
  --base-3: #E5E7E8;
  --base-4: #CCD1D3;
  --base-5: #99A2A7;
  --base-6: #66747A;
  --base-7: #33454E;
  --base-8: #192E38;
  --base-9: #001722;
}
